.btn-primary {
  padding: 1.6rem 2.4rem;
  background-color: var(--pink-10);
  color: var(--gray-900);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.048rem;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--pink-20);
}

.btn-primary.lg {
  padding: 2.3rem 2.4rem;
  font-size: 1.8rem;
  letter-spacing: -0.054rem;
}

.btn-primary.lg.white {
  background-color: var(--gray-100);
}

.btn-primary.lg.white:hover {
  background-color: var(--gray-300);
}

.item-digital {
  flex: 1;
  max-width: 38.4rem;
}

.item-digital .icon {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.6rem;
}

.item-digital .info h6 {
  margin-bottom: 0.8rem;
}

.item-digital .info p {
  color: var(--gray-600);
  line-height: 150%;
  letter-spacing: -0.54px;
}

.card-post {
  border: 0.2rem solid rgba(255, 255, 255, 0.08);
  background: rgba(255, 255, 255, 0.02);
  padding: 2.4rem;
}

.card-post .tag {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-family: "Sora", sans-serif;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.126rem;
  padding: 0.8rem 2.2rem;
  border-radius: 10rem;
  background: rgba(255, 255, 255, 0.1);
  display: inline-block;
}
