.btn-primary {
  padding: 1.6rem 2.4rem;
  background-color: var(--pink-10);
  color: var(--gray-900);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.048rem;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--pink-20);
}

.btn-primary.lg {
  padding: 2.3rem 2.4rem;
  font-size: 1.8rem;
  letter-spacing: -0.054rem;
}

.btn-primary.lg.white {
  background-color: var(--gray-100);
}

.btn-primary.lg.white:hover {
  background-color: var(--gray-300); 
}
.s-digital-card {
  width: 100%;
  max-width: 38.4rem;
}

.s-digital-card p {
  color: var(--gray-600);
  font-size: 1.8rem;
  line-height: 150%;
  letter-spacing: -0.054rem;
}