* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
  background-color: var(--bg-color);
  color: var(--gray-100);
}
h1,
h2,
h3,
h4 {
  line-height: 120%;
  font-weight: 700;
  font-family: "Sora", sans-serif;
}
h5,
h6 {
  line-height: 120%;
  font-weight: 600;
  font-family: "Sora", sans-serif;
}

h1 {
  font-size: 5.6rem;
}
h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 4rem;
}
h4 {
  font-size: 2.8rem;
}
h5 {
  font-size: 2.4rem;
}
h6 {
  font-size: 2.2rem;
}
p {
  font-size: 1.8rem;
  line-height: 150%;
}

.container {
  width: 100%;
  max-width: 124.6rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
