header {
  width: 100%;
  height: 8.8rem;
  display: flex;
  align-items: center;
  border-bottom: 0.1rem solid var(--gray-800);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .btn-mobile {
  display: none;
}

header nav {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

header nav ul li a {
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--gray-100);
  letter-spacing: -0.48;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: var(--gray-300);
}

.s-hero {
  position: relative;
  width: 100%;
  padding-top: 11.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.s-hero::after {
  content: "";
  width: 100%;
  height: 22rem;
  background: var(--pink-10);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.s-hero .text {
  width: 100%;
  max-width: 71.9rem;
  text-align: center;
  margin: 0 auto 6.4rem;
  position: relative;
}

.s-hero .text h1 {
  position: relative;
  margin-bottom: 2.4rem;
  font-weight: 600;
  letter-spacing: -1.68;
}

.s-hero .text h1::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  max-width: 59.9rem;
  height: 2.2rem;
  background: url(../img/line-title.svg) no-repeat center center;
  bottom: 0;
  left: 3.9rem;
}

.s-hero .text p {
  width: 100%;
  max-width: 59.6rem;
  margin: 0 auto;
  line-height: 1.5;
  letter-spacing: -0.54;
  color: var(--gray-300);
  margin-bottom: 3.2rem;
}

.s-hero .arrow {
  position: absolute;
  bottom: 1.5rem;
  left: 3rem;
}

.s-hero .ilustra {
  padding: 0 1.5rem;
}

.s-digital h3 {
  width: 100%;
  max-width: 53.5rem;
  margin: 12.8rem auto 6.4rem;
  text-align: center;
}

.s-digital {
  display: none;
  padding-bottom: 12.8rem;
}

.s-digital ul {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-800);
}

.s-arte {
  display: none;
  width: 100%;
  padding-top: 12.8rem;
}

.s-arte .text-arte {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 6.4rem;
}

.s-arte .text-arte .left {
  max-width: 53.7rem;
}

.s-arte .text-arte .left h3 {
  line-height: 1.2;
  letter-spacing: -1.2;
  margin-bottom: 1.6rem;
}

.s-arte .text-arte .left p {
  max-width: 45.2rem;
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.54;
  color: var(--gray-600);
  text-align: justify;
}

.s-arte .text-arte .right {
  max-width: 42.9rem;
}

.s-arte .text-arte .right p {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.54;
  color: var(--gray-600);
  text-align: justify;
}

.s-arte .card {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}

.s-arte .card .card-post:first-child {
  grid-column: span 2;
}

.s-newsletter {
  display: none;
  padding: 9rem 0;
  margin-top: 12.8rem;
  background: var(--pink-10);
}

.s-newsletter .container {
  text-align: center;
}

.s-newsletter h2 {
  max-width: 64.6rem;
  margin: 0 auto;
  font-weight: 600;
  letter-spacing: -0.144rem;
  margin-bottom: 1.6rem;
}

.s-newsletter p {
  max-width: 68.7rem;
  margin: 0 auto;
  font-size: 2.2rem;
  margin-bottom: 2.4rem;
}

footer {
  display: none;
  padding: 4.8rem 0;
}

footer .s-footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  padding-bottom: 6.6rem;
  margin-bottom: 2.4rem;
}

footer .s-footer .s-footer-left {
  max-width: 27.9rem;
}

footer .s-footer .s-footer-left p {
  color: var(--gray-600);
  font-size: 1.6rem;
  line-height: 150%;
  letter-spacing: -0.48px;
  margin-top: 2.4rem;
}

footer .s-footer .s-footer-right {
  flex: 1;
  max-width: 79.2rem;
  display: flex;
  justify-content: space-between;
}

footer .s-footer .s-footer-right .footer-list h6 {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  letter-spacing: -0.048rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

footer .s-footer .s-footer-right .footer-list ul li:not(:last-child) {
  margin-bottom: 3.2rem;
}

footer .s-footer .s-footer-right .footer-list ul li a {
  font-size: 1.6rem;
  letter-spacing: -0.048rem;
  color: var(--gray-600);
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

footer .s-footer .s-footer-right .footer-list ul li a:hover {
  color: var(--gray-100);
}

footer .copy {
  color: var(--gray-600);
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: -0.048rem;
}

footer .copy a {
  color: var(--color-gray-600, #787c87);
  font-weight: 600;
  transition: color 0.3s ease;
}

footer .copy a:hover {
  color: var(--gray-100);
}

/* monitores pequenos */
@media (max-width: 1200px) {
}

/* tablet */
@media (max-width: 991px) {
  .s-hero::after {
    height: 13rem;
  }
}

@media (max-width: 768px) {
  header nav {
    display: none;
  }
  header .btn-mobile {
    display: block;
  }
  .s-hero {
    padding-top: 6rem;
  }
  .s-hero h1 {
    max-width: 49rem;
    margin: 0 auto;
  }
  .s-hero .text h1::before {
    bottom: -0.8rem;
    left: 0;
    background-size: 100%;
  }
  .s-hero .text p {
    max-width: 39.6rem;
  }
  .s-hero .arrow {
    bottom: 3.5rem;
    left: 2rem;
    max-width: 6rem;
  }
}

/* mobile */
@media (max-width: 560px) {
  header {
    height: 7.2rem;
  }
  header .logo {
    max-width: 16rem;
  }
  .s-hero {
    padding-top: 8.8rem;
  }
  .s-hero .text h1 {
    font-size: 3.2rem;
    margin-bottom: 1.4rem;
  }
  .s-hero .arrow {
    display: none;
  }
}
