* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --pink-10: #f67acb;
  --pink-20: #cf62a9;
  --pink-30: #9d457f;
  --gray-100: #f5f6fa;
  --gray-200: #dfe1e8;
  --gray-300: #c0c3cc;
  --gray-400: #abafba;
  --gray-500: #979ba6;
  --gray-600: #787c87;
  --gray-700: #5c5f69;
  --gray-800: #393b42;
  --gray-900: #0a0b0d;
}

img {
  max-width: 100%;
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}
h1,
h2,
h3,
h4 {
  line-height: 120%;
  font-weight: bold;
}
h5,
h6 {
  line-height: 120%;
}

h1 {
  font-size: 5.6rem;
}
h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 4rem;
}
h4 {
  font-size: 2.8rem;
}
h5 {
  font-size: 2.4rem;
}
h6 {
  font-size: 2.2rem;
}
