* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}