header {
  width: 100%;
  height: 8.8rem;
  display: flex; 
  align-items: center;
  border-bottom: .1rem solid #59595B;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

header nav ul li a {
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--gray-100);
  letter-spacing: -0.48;
  transition: color .3s ease;
}

header nav ul li a:hover {
  color: var(--gray-300);
}

.s-hero {
  position: relative;
  width: 100%;
  padding-top: 11.3rem;
  height: 106.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.s-hero .text {
  width: 100%;
  max-width: 71.9rem;
  text-align: center;
  margin: 0 auto 6.4rem;
  position: relative;
}

.s-hero .text h1 {
  position: relative;
  margin-bottom: 2.4rem;
  font-weight: 600;
  letter-spacing: -1.68;
}

.s-hero .text h1::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  max-width: 59.9rem;
  height: 2.2rem;
  background: url(../img/line-title.svg) no-repeat center center;
  bottom: 0;
  left: 3.9rem;
}

.s-hero .text p {
  width: 100%;
  max-width: 59.6rem;
  margin: 0 auto;
  line-height: 1.5;
  letter-spacing: -0.54;
  color: var(--gray-300);
  margin-bottom: 3.2rem;
}

.s-hero .arrow {
  position: absolute;
  bottom: 1.5rem;
  left: 3rem;
}