/* INICIO HEADER */

header {
  padding: 2rem;
  border-bottom: .1rem solid var(--gray-800);
}

header .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header .container nav {
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem;
  align-items: center;
}

header .container nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

header .container nav a {
  color: var(--gray-100);
  font-size: 1.6rem;
  letter-spacing: -0.048rem;
  transition: color .3s ease;
  padding: 15px;
}

header .container nav a:hover {
  color: var(--gray-500);
}

/* FINAL HEADER */

/* INICIO HERO */