h1,
h2,
h3,
h4 {
  line-height: 120%;
  font-weight: 700;
  font-family: "Sora", sans-serif;
}
h5,
h6 {
  line-height: 120%;
  font-weight: 600;
  font-family: "Sora", sans-serif;
}

h1 {
  font-size: 5.6rem;
}
h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 4rem;
}
h4 {
  font-size: 2.8rem;
}
h5 {
  font-size: 2.4rem;
}
h6 {
  font-size: 2.2rem;
}
p {
  font-size: 1.8rem;
  line-height: 150%;
}

